/coverage
/dist
.env
/lib
/.serverless
/tmp

log*
npm-debug.log*
*.swp
yarn-debug.log*
yarn-error.log*

!log*.ts

*.js
!lint-staged.config.js

*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
